nav{
    background-color: black;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    align-items: stretch;
    height: 50px;
    
}
nav ul li {
    position: relative;
    width: 20%;
    display: flex;
    align-content: center;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li ul{
    display: none;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 34px;
    width: 100px;
    height: 150px;
    color: white;
}
   

nav ul li ul li {
    color: white;
}

nav ul li:hover ul {
    display: flex;
}
